.header
  .header-left
    SimTax
  .header-right
    = link_to "#", class: "header-right__buttons-signup" do
      SignUp
    = link_to "#", class: "header-right__buttons-login" do
      LogIn
.top-image
.contents
  .contents-functions
    = link_to function_path(1), class: "contents-functions__btn" do
      function1
    = link_to function_path(2), class: "contents-functions__btn" do
      function2
    = link_to function_path(3), class: "contents-functions__btn" do
      function3
    = link_to function_path(4), class: "contents-functions__btn" do
      function4

      