.wrapper
  - if user_signed_in?
    %div.header
      %div.container
        %div.header-left
          = link_to root_path do
            SimTax
        %div.header-right
          %div.header-right__user-name
            こんにちは#{current_user.name}さん
          = link_to destroy_user_session_path, method: :delete, class: 'header-right__buttons-logout' do
            ログアウト
  - else
    %div.header
      %div.container
        %div.header-left
          = link_to root_path do
            SimTax
        %div.header-right
          = link_to new_user_registration_path, class: "header-right__buttons-signup" do
            SignUp
          = link_to  new_user_session_path, class: "header-right__buttons-login" do
            Login



  = form_for @inquiry, :url => inquiry_confirm_path do |f|
    %div.contact-form
      %h3.section-title お問い合わせ
      - if @inquiry.errors.any?
        .alert.alert-danger{:role => "alert"}
          %strong 入力内容にエラーがあります
          %ul
            - @inquiry.errors.each do |attr, msg|
              %li= msg
      %p お名前（必須）
      = f.text_field :name
      %p メールアドレス（必須）
      = f.text_field :email
      %p お問い合わせ内容（必須）
      = f.text_area :message
      %p ※必須項目は必ずご入力ください
      = f.submit 'お問い合わせ内容確認', class: 'contact-submit'


  %div.footer.footer-inquiry
    %div.footer-left
      %h1.footer-logo SimTax
      %P Visualize your Tax
    %div.footer-right
      %ul
        -# %li 事務所概要
        %li 
          = link_to "お問い合わせ", inquiry_path