数値を入力してください。（円単位）

= form_for @about, url: '/about/result2' do |f|
 
  -#  給与所得
  .field
    .field-label
      = f.label :給与収入
    .field-input
      = f.text_field :salaryIncome

  -# 事業所得
  .field
    .field-label
      = f.label :売上
    .field-input
      = f.text_field :amountOfSales
  .field
    .field-label
      = f.label :その他の収入
    .field-input
      = f.text_field :otherIncomeBI
  .field
    .field-label
      = f.label :売上原価
    .field-input
      = f.text_field :costOfSales
  .field
    .field-label
      = f.label :その他の経費
    .field-input
      = f.text_field :otherExpensesBI

  -# 不動産所得
  .field
    .field-label
      = f.label :賃貸収入
    .field-input
      = f.text_field :rent
  .field
    .field-label
      = f.label :その他の収入
    .field-input
      = f.text_field :otherIncomeREI
  .field
    .field-label
      = f.label :借入金利息
    .field-input
      = f.text_field :borrowingInterest
  .field
    .field-label
      = f.label :減価償却費
    .field-input
      = f.text_field :depreciation
  .field
    .field-label
      = f.label :その他の経費
    .field-input
      = f.text_field :otherExpensesREI

  -# 所得控除額
  .field
    .field-label
      = f.label :雑損控除
    .field-input
      = f.text_field :miscellaneousDeduction
  .field
    .field-label
      = f.label :医療費控除
    .field-input
      = f.text_field :medicalExpensesDeduction
  .field
    .field-label
      = f.label :社会保険料控除
    .field-input
      = f.text_field :socialInsurancePremiumDeduction
  .field
    .field-label
      = f.label :小規模企業共済等掛金控除
    .field-input
      = f.text_field :creditDeductionForSmallBusinessMutualAid
  .field
    .field-label
      = f.label :生命保険料控除
    .field-input
      = f.text_field :lifeInsuranceDeduction
  .field
    .field-label
      = f.label :地震保険料控除
    .field-input
      = f.text_field :earthquakeInsuranceDeduction
  .field
    .field-label
      = f.label :寄附金控除
    .field-input
      = f.text_field :donationDeduction
  .field
    .field-label
      = f.label :障害者控除
    .field-input
      = f.text_field :disabledPersonDeduction
  .field
    .field-label
      = f.label :寡婦（寡夫）控除
    .field-input
      = f.text_field :widowDeduction
  .field
    .field-label
      = f.label :勤労学生控除
    .field-input
      = f.text_field :workingStudentDeduction
  .field
    .field-label
      = f.label :配偶者控除
    .field-input
      = f.text_field :spouseDeduction
  .field
    .field-label
      = f.label :配偶者特別控除
    .field-input
      = f.text_field :spouseSpecialDeduction
  .field
    .field-label
      = f.label :扶養控除
    .field-input
      = f.text_field :dependentDeduction
  .field
    .field-label
      = f.label :基礎控除
    .field-input
      = f.text_field :basicDeduction

  -# 青色申告特別控除額
  .field
    .field-label
      = f.label :青色申告特別控除額
    .field-input
      = f.text_field :blueTaxReturnSpecialDeductionREI
      
  -# 税額計算
  .field
    .field-label
      = f.label :税額控除
    .field-input
      = f.text_field :taxCredit
  .field
    .field-label
      = f.label :源泉徴収税額
    .field-input
      = f.text_field :withholdingTaxAmount
  .field
    .field-label
      = f.label :予定納税額
    .field-input
      = f.text_field :estimatedTaxPaymentAmount

  .actions
    = f.submit