= link_to "function1/simulation2", function_about_path(1,2)
.chart--header
  シミュレーション結果


-# for myChart1
- incomeDeduction = 0
- @taxSimulation1[3].each do |factor|
  - incomeDeduction += factor
- labelArray1_1 = ["課税標準","所得控除","課税所得"].to_json.html_safe
- dataArray1_1 = [@taxSimulation1[0],'',''].to_json.html_safe
- dataArray1_2 = [@taxSimulation1[1],'',''].to_json.html_safe
- dataArray1_3 = [@taxSimulation1[2],'',''].to_json.html_safe
- dataArray1_4 = ['',incomeDeduction,''].to_json.html_safe
- dataArray1_5 = ['','',@taxSimulation1[0]+@taxSimulation1[1]+@taxSimulation1[2]-incomeDeduction].to_json.html_safe

-# for myChart2
- dataArray2_1 = [@taxSimulation2[0][0],@taxSimulation2[1][0]]
- dataArray2_2 = [@taxSimulation2[0][1],@taxSimulation2[1][1]]
- dataArray2_3 = [@taxSimulation2[0][2],@taxSimulation2[1][2]]
- dataArray2_4 = [@taxSimulation2[0][3],@taxSimulation2[1][3]]
- dataArray2_5 = [@taxSimulation2[0][4],@taxSimulation2[1][4]]
- dataArray2_6 = [@taxSimulation2[0][5],@taxSimulation2[1][5]]
- dataArray2_7 = [@taxSimulation2[0][6],@taxSimulation2[1][6]]
- dataArray2_8 = [@taxSimulation2[0][7],@taxSimulation2[1][7]]
- dataArray2_0 = [0,@taxSimulation1[0]+@taxSimulation1[1]+@taxSimulation1[2]-incomeDeduction]

-# for myChart3
- labelArray3_1 = ["税額","税額控除等","納税(還付)額"].to_json.html_safe
- dataArray3_1 = [@taxSimulation3[0],'',''].to_json.html_safe
- dataArray3_2 = ['',@taxSimulation3[1],''].to_json.html_safe
- dataArray3_3 = ['',@taxSimulation3[2],''].to_json.html_safe
- dataArray3_4 = ['',@taxSimulation3[3],''].to_json.html_safe
- dataArray3_5 = ['','',@taxSimulation3[0]-@taxSimulation3[1]-@taxSimulation3[2]-@taxSimulation3[3]].to_json.html_safe

-# for myChart4
- labelArray4_1 = ["給与","事業","不動産"].to_json.html_safe
- dataArray4_1 = @taxSimulation4[0].to_json.html_safe
- dataArray4_2 = @taxSimulation4[1].to_json.html_safe
- dataArray4_3 = @taxSimulation4[2].to_json.html_safe

-# for myChart5
- labelArray5_1 = ["雑損控除","医療費控除","社会保険料控除","小規模企業共済等掛金控除","生命保険料控除","地震保険料控除","寄附金控除","障害者控除","寡婦（寡夫）控除","勤労学生控除","配偶者控除","配偶者特別控除","扶養控除","基礎控除"].to_json.html_safe
- dataArray5_1 = @taxSimulation5.to_json.html_safe

-# for myChart6
- labelArray6_1 = ["税額控除","源泉徴収","予定納税"].to_json.html_safe
- dataArray6_1 = @taxSimulation6.to_json.html_safe

.chart--contents--upper
  .chart--contents--upper__chart1
    %canvas#myChart1{:height => "75", :width => "100"}
    :javascript
        var labelArray1_1 = #{labelArray1_1}
        var dataArray1_1 = #{dataArray1_1}
        var dataArray1_2 = #{dataArray1_2}
        var dataArray1_3 = #{dataArray1_3}
        var dataArray1_4 = #{dataArray1_4}
        var dataArray1_5 = #{dataArray1_5}
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelArray1_1,
                datasets: [{
                    label: '給与所得',
                    data: dataArray1_1,
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor:     ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                },{
                    label: '事業所得',
                    data: dataArray1_2,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                    borderColor:     ['rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                },{
                    label: '不動産所得',
                    data: dataArray1_3,
                    backgroundColor: ['rgba(255, 206, 86, 0.2)'],
                    borderColor:     ['rgba(255, 206, 86, 1)'],
                    borderWidth: 1
                },{
                    label: '所得控除',
                    data: dataArray1_4,
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor:     ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                },{
                    label: '課税所得',
                    data: dataArray1_5,
                    backgroundColor: ['rgba(255, 206, 86, 0.2)'],
                    borderColor:     ['rgba(255, 206, 86, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            callback: function(value, index, values){
                                return value + '円';
                            }
                        }
                    }]
                },
                title: {
                    display: true,
                    text: '課税所得'
                },
                legend: {
                    position: 'top'
                }
            }
        });

  .chart--contents--upper__chart2
    %canvas#myChart2{:height => "75", :width => "100"}
    :javascript           
        var dataArray2_1 = #{dataArray2_1}
        var dataArray2_2 = #{dataArray2_2}
        var dataArray2_3 = #{dataArray2_3}
        var dataArray2_4 = #{dataArray2_4}
        var dataArray2_5 = #{dataArray2_5}
        var dataArray2_6 = #{dataArray2_6}
        var dataArray2_7 = #{dataArray2_7}
        var dataArray2_8 = #{dataArray2_8}
        var dataArray2_0 = #{dataArray2_0}
        var ctx = document.getElementById('myChart2').getContext('2d');
        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: '課税所得',
                    data: [{
                        x: dataArray2_1[0],
                        y: dataArray2_1[0]
                    }, {
                        x: dataArray2_2[0],
                        y: dataArray2_2[0]
                    }, {
                        x: dataArray2_3[0],
                        y: dataArray2_3[0]
                    }, {
                        x: dataArray2_4[0],
                        y: dataArray2_4[0]
                    }, {
                        x: dataArray2_5[0],
                        y: dataArray2_5[0]
                    }, {
                        x: dataArray2_6[0],
                        y: dataArray2_6[0]
                    }, {
                        x: dataArray2_7[0],
                        y: dataArray2_7[0]
                    }, {
                        x: dataArray2_8[0],
                        y: dataArray2_8[0]
                    }],
                    showLine: true,
                    fill: false,
                    borderColor: 'rgba(54, 162, 235, 0.5)'
                },{
                    label: '税額',
                    data: [{
                        x: dataArray2_1[0],
                        y: dataArray2_1[1]
                    }, {
                        x: dataArray2_2[0],
                        y: dataArray2_2[1]
                    }, {
                        x: dataArray2_3[0],
                        y: dataArray2_3[1]
                    }, {
                        x: dataArray2_4[0],
                        y: dataArray2_4[1]
                    }, {
                        x: dataArray2_5[0],
                        y: dataArray2_5[1]
                    }, {
                        x: dataArray2_6[0],
                        y: dataArray2_6[1]
                    }, {
                        x: dataArray2_7[0],
                        y: dataArray2_7[1]
                    }, {
                        x: dataArray2_8[0],
                        y: dataArray2_8[1]
                    }],
                    borderColor: 'rgba(255, 99, 132, 0.5)',
                    fill: false,
                    showLine: true
                },{
                    label: 'あなたの課税所得',
                    data: [{
                        x: dataArray2_0[1],
                        y: dataArray2_0[0]
                    }, {
                        x: dataArray2_0[1],
                        y: dataArray2_0[1]
                    }],
                    backgroundColor: 'RGBA(225,95,150, 1)',
                    borderColor: "rgba(255, 127, 0, 0.5)",
                    fill: false,
                    showLine: true
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        ticks: {
                            callback: function(value, index, values){
                                return value + '円';
                            },
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values){
                                return value + '円';
                            },
                        }
                    }]
                },
                title: {
                    display: true,
                    text: '課税所得と税額'
                },
            }
        });

  .chart--contents--upper__chart3
    %canvas#myChart3{:height => "75", :width => "100"}
    :javascript
        var labelArray3_1 = #{labelArray3_1}
        var dataArray3_1 = #{dataArray3_1}
        var dataArray3_2 = #{dataArray3_2}
        var dataArray3_3 = #{dataArray3_3}
        var dataArray3_4 = #{dataArray3_4}
        var dataArray3_5 = #{dataArray3_5}
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelArray3_1,
                datasets: [{
                    label: '税額',
                    data: dataArray3_1,
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor:     ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                },{
                    label: '税額控除',
                    data: dataArray3_2,
                    backgroundColor: ['hsla(90,60%,60%,0.2)'],
                    borderColor:     ['rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                },{
                    label: '源泉徴収',
                    data: dataArray3_3,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                    borderColor:     ['rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                },{
                    label: '予定納税',
                    data: dataArray3_4,
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor:     ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                },{
                    label: '納付(還付)額',
                    data: dataArray3_5,
                    backgroundColor: ['rgba(255, 206, 86, 0.2)'],
                    borderColor:     ['rgba(255, 206, 86, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            callback: function(value, index, values){
                                return value + '円';
                            }
                        }
                    }]

                },
                title: {
                    display: true,
                    text: '納税(還付)額'
                },
                legend: {
                    position: 'top'
                }
            }
        });

.chart--contents--bottom
  .chart--contents--bottom__chart4
    %canvas#myChart4{:height => "75", :width => "100"}
    :javascript
        var labelArray4_1 = #{labelArray4_1}
        var dataArray4_1 = #{dataArray4_1}
        var dataArray4_2 = #{dataArray4_2}
        var dataArray4_3 = #{dataArray4_3}
        var ctx = document.getElementById('myChart4').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelArray4_1,
                datasets: [{
                    label: '収入',
                    data: dataArray4_1,
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor:     ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                },{
                    label: '給与所得控除、経費',
                    data: dataArray4_2,
                    backgroundColor: ['hsla(90,60%,60%,0.2)'],
                    borderColor:     ['rgba(255, 99, 132, 1)'],
                    borderWidth: 1
                },{
                    label: '所得',
                    data: dataArray4_3,
                    backgroundColor: ['rgba(255, 206, 86, 0.2)'],
                    borderColor:     ['rgba(255, 206, 86, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function(value, index, values){
                                return value + '円';
                            },
                            min: 0
                        }
                    }]

                },
                title: {
                    display: true,
                    text: '課税標準'
                },
                legend: {
                    position: 'top'
                }
            }
        });

  .chart--contents--bottom__chart5
    %canvas#myChart5{:height => "75", :width => "100"}
    :javascript
        var labelArray5_1 = #{labelArray5_1}
        var dataArray5_1 = #{dataArray5_1}
        var ctx = document.getElementById('myChart5').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labelArray5_1,
                datasets: [{
                    data: dataArray5_1,
                    backgroundColor: ['rgba(255,0,255, 0.2)','rgba(255,0,255,0.2)','rgba(255,51,255,0.2)','rgba(255,51,0,0.2)','rgba(255,102,255,0.2)','rgba(255,102,204,0.2)','rgba(255,102,0,0.2)','rgba(255,153,255,0.2)','rgba(255,153,0,0.2)','rgba(255,204,255,0.2)','rgba(255,204,0,0.2)','rgba(255,255,255,0.2)','rgba(255,255,153,0.2)','rgba(255,255,0,0.2)'],
                    borderColor:     ['rgba(255,0,255, 0.7)','rgba(255,0,255,0.7)','rgba(255,51,255,0.7)','rgba(255,51,0,0.7)','rgba(255,102,255,0.7)','rgba(255,102,204,0.7)','rgba(255,102,0,0.7)','rgba(255,153,255,0.7)','rgba(255,153,0,0.7)','rgba(255,204,255,0.7)','rgba(255,204,0,0.7)','rgba(255,255,255,0.7)','rgba(255,255,153,0.7)','rgba(255,255,0,0.7)'],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '所得控除内訳'
                },
                legend: {
                    position: 'top'
                }
            }
        });
    
  .chart--contents--bottom__chart6
    %canvas#myChart6{:height => "75", :width => "100"}
    :javascript
        var labelArray6_1 = #{labelArray6_1}
        var dataArray6_1 = #{dataArray6_1}
        var ctx = document.getElementById('myChart6').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labelArray6_1,
                datasets: [{
                    data: dataArray6_1,
                    backgroundColor: ['rgba(102,51,255, 0.2)','rgba(102,153,255,0.2)','rgba(102,255,255,0.2)'],
                    borderColor:     ['rgba(102,51,255, 0.7)','rgba(102,153,255,0.7)','rgba(102,255,255,0.7)'],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '所得控除内訳'
                },
                legend: {
                    position: 'top'
                }
            }
        });